@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #2374AB;
  --primary-light: #4A8EC3;
  --primary-dark: #1B5C85;

  --secondary: #FFAA00;
  --secondary-light: #FFBF33;
  --secondary-dark: #CC8800;

  --tertiary: #F1F3F5;
  --tertiary-light: #FFFFFF;
  --tertiary-dark: #DDE1E5;

  --quaternary: #1E3A5F;
  --quaternary-light: #3A5278;
  --quaternary-dark: #142641;

  --white: #FFFFFF;
  --black: #000000;
}