<tijdenlangverhaald-header />
<!-- <router-outlet></router-outlet> -->
<main>
  <section class="intro">
    <h1>Welkom op mijn website!</h1>
    <article>
      <p>
        Mijn naam is Jolijn Beckers en ik werk met veel passie als gids en
        ateliereducator in het prachtige openluchtmuseum Bokrijk.
      </p>
      <p>
        Met meer dan 12 jaar ervaring als gastvrouw in een historisch gebouw en
        7 jaar als re-enactment actrice, breng ik geschiedenis tot leven door
        verhalen te vertellen en bezoekers mee te nemen op een boeiende reis
        terug in de tijd.
      </p>
    </article>
  </section>
  <section class="services">
    <h2>In Bokrijk bied ik twee unieke belevingsroutes aan:</h2>
    <ul>
      <li>
        <h3>Beestig Bokrijk:</h3>
        <p>
          een interactieve tocht waarbij boerderijdieren en het boerenleven anno
          1900 centraal staan.
        </p>
      </li>
      <li>
        <h3>Bokrijkrally:</h3>
        <p>
          een teambuildingactiviteit waarbij je de kracht van samenwerking
          ontdekt via traditionele volksspelen.
        </p>
      </li>
    </ul>
    <h2>Daarnaast geef ik diverse creatieve workshops, zoals:</h2>
    <ul>
      <li>
        <h3>Van graan tot brood:</h3>
        <p>waarin we samen brood bakken zoals vroeger.</p>
      </li>

      <li>
        <h3>Lederen beursje maken:</h3>
        <p>
          een workshop waarin je je eigen ambachtelijke leren beursje maakt.
        </p>
      </li>
      <li>
        <h3>Kriebelig stoffen:</h3>
        <p>een speelse textielworkshop waarbij we een tote bag beschilderen.</p>
      </li>
    </ul>
  </section>
  <section class="about">
    <p>
      Creativiteit en geschiedenis vormen de kern van alles wat ik doe. In mijn
      vrije tijd ben ik altijd bezig met iets nieuws, of het nu naaien,
      borduren, scrapbooking, stippen op porselein of koekjes bakken is.
    </p>
    <p>
      Bovendien vind ik het geweldig om originele thema's te bedenken voor
      kinderfeestjes.
    </p>
    <p>
      Ik kijk ernaar uit om mijn passie voor geschiedenis, ambacht en
      creativiteit met je te delen tijdens een van mijn rondleidingen of
      workshops in Bokrijk.
    </p>
    <p>Laat je verrassen en inspireren door de magie van het verleden!</p>
  </section>
</main>
<tijdenlangverhaald-footer />
